body {
    background-color:gray;
    margin: 5px 20px 20px;
    padding: 0 10px 10px 10px;
    
}

header{

    margin: 5px 20px 0px;
    padding: 0 10px 10px 10px;



}
.Nav{

    border-radius: 10px;

}


.btnv{
    border-style: solid;
    border-radius: 10px;
    padding: 0 10px 10px 10px;





}

.logo {
width: auto;
height: 95px;
}


.logo2{

    width: auto;
    height: auto;
    }




.tipo1{

    font-family: 'Franklin Gothic Medium';
    font-style: italic;

}

.HP1{
    width: auto;
    height: 500px;
    margin: 0px 20px 20px;
    padding: 0 10px 10px 10px;
    






}
.Art1{
    
    width: auto;
    height: 1000px;
    margin: 5px 20px 5px;
    padding: 0 10px 0px 10px;
    



}

.Art2{

    width: auto;
    height: 800px;
    margin: 0px 20px 20px;
    padding: 0 10px 10px 10px;
    



}

.Map{
    
    justify-content: center;

    width: auto;
 
    margin: 0px 20px 20px;
    padding: 0 10px 10px 10px;


}

.center{

    text-align: center;
}